@font-face{ 
	font-family:'Glyphicons Halflings';
		src:url('glyphicons-halflings-regular.eot');
		src:url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
			url('glyphicons-halflings-regular.woff') format('woff'),
			url('glyphicons-halflings-regular.ttf') format('truetype'),
			url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}

.gc-nav{background: #EDEDED; border-bottom-color: #DBDBDB;}
.gc-nav .navbar-toggle {background-color: #C9C9C9; border: 1px solid #BDBDBD;}
.gc-nav .navbar-toggle span {color: #333; background-color: #333;}
.gc-nav a {color: #757575;}
.gc-nav a:hover {background-color: #bdbdbd !important;}
.gc-ball-logo {width: 50px; height: 50px; background: url(gc-ball-logo-sm.png) 8px 8px no-repeat; border-left: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd;}

.navbar-header {text-align:center;}
.navbar .navbar-text.visible-xs{float:none; font-size: 21px;margin: 10px 0; color: #757575;}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }.ir br { display: none; }