body {color: #595959; font-family: 'Source Sans Pro', sans-serif;}

.pull-center {margin: 0 auto; display: block; float: none;}

.margin-top {margin-top: 20px;}
.margin-bottom {margin-bottom: 20px;}

.inline-block {display: inline-block;}

.navbar-trans {background-color: rgba(255,255,255,0.95); border-color: rgba(226,226,226,0.95);}

.navbar-header {float: left;}

#progresser {width: 100px; text-align: center;}
.progress-dot {color: #919396; opacity: 0.4; font-size: 41px; line-height: 1;}
.progress-dot.active {color: #00adef; opacity: 1;}

.blue-text {color: #00adef;}
.white-text {color: #fff;}
.purple-text {color: #cfcaff;}

.animated-arrows {width: 240px;}
.animated-arrows span {font-size: 50px;color: #00adef; line-height: 0.5; }
.purple-arrows span {color: #afa1ff;}

/* PAGE SETUP CODE */
.page1 {height: 650px; background: url(../img/page1.png) bottom center no-repeat #fff; border-bottom: 1px solid #ccc; margin-top:60px;}
.page2 {min-height: 595px; background: url(../img/page2.png) top center no-repeat #cdecfc;}
.page2 hr {border-color: #80d0dd}
.page3 {min-height: 405px; background: url(../img/page3.png) top center no-repeat #6e4db9; border-bottom: 1px solid #504491;}
.page4 {min-height: 100px; background-color: #fff; border-bottom: 1px solid #ccc;}
.page5 {min-height: 424px; background: url(../img/page5.jpg) top center no-repeat #070e18; border-bottom: 1px solid #ccc;}

.blue-padder {min-height: 505px;}

.full-height-navbar { height: 50px; }

.gc-lead {font-size: 19px; font-weight: 600;}
.gc-lead .callout {color: #00adef; font-size: 28px; clear:both; display:block;}

.gc-scroller {font-size: 28px; font-weight: 700; width: 240px; padding: 0;}

.text-center { text-align:center; }
.text-shadow {text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);}

.gc-logo-lg {width: 352px; height: 116px; background: url(../img/give-cat-logo.png) 50% 50% no-repeat;}
.gc-logo-sm {width: 129px; height: 50px; background: url(../img/give-cat-logo-sm.png) 50% 50% no-repeat;}

h2 {font-size: 40px;}

h3 {font-size: 43px; font-weight: 300;}

.cycle-container {width: 568px; height: 308px;}
.cycle1, .cycle2, .cycle3, .cycle4, .cycle5, .cycle6 {background-size: cover; background-position: bottom center; background-repeat:no-repeat; border-bottom: 1px solid #80d0dd; width:568px; height: 308px;}
.cycle1 {background-image: url(../img/cycles/bbc.png);}
.cycle2 {background-image: url(../img/cycles/bbc-cat.png);}
.cycle3 {background-image: url(../img/cycles/facebook.png);}
.cycle4 {background-image: url(../img/cycles/facebook-cat.png);}
.cycle5 {background-image: url(../img/cycles/9gag.png);}
.cycle6 {background-image: url(../img/cycles/9gag-cat.png);}

.cursor-imagery {padding-bottom: 60px; background: url(../img/give-cat-clicker.png) bottom right no-repeat; margin-bottom: 5px;}

.clicker {height: 175px; background-position: center center; background-repeat:no-repeat; margin-bottom: 10px;}
.clicker-1 {background-image: url(../img/examples/1.png);}
.clicker-1.clicked {background-image: url(../img/examples/1-clicked.png);}
.clicker-2 {background-image: url(../img/examples/2.png);}
.clicker-2.clicked {background-image: url(../img/examples/2-clicked.png);}
.clicker-3 {background-image: url(../img/examples/3.png);}
.clicker-3.clicked {background-image: url(../img/examples/3-clicked.png);}
.clicker-4 {background-image: url(../img/examples/4.png);}
.clicker-4.clicked {background-image: url(../img/examples/4-clicked.png);}
.clicker-5 {background-image: url(../img/examples/5.png);}
.clicker-5.clicked {background-image: url(../img/examples/5-clicked.png);}
.clicker-6 {background-image: url(../img/examples/6.png);}
.clicker-6.clicked {background-image: url(../img/examples/6-clicked.png);}

.drag-action {width: 286px; height: 125px; background: url(../img/drag-action.png) bottom center no-repeat;}

.dogs {margin-top: 20px; text-align: center;}
.dogs>div {height: 175px; margin-bottom: 20px;}

/* FINAL CSS */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }